<div class="row justify-content-between">
  <div class="notification">
    <%= cl_image_tag booking.user.photo, class: "booking-image"%>
    <div class="notification-content py-3">
      <p><small><%= booking.date.strftime('%b %d, %Y') %></small></p>
      <h5 class="my-0"><%= booking.skill.title %></h5>
      <h6 class="my-0">Location: <%= booking.skill.location.upcase %></h6>
      <h6 class="mt-0">Student name: <%= booking.user.first_name %> <%= booking.user.last_name %></h6>
    </div>
  <div class="d-flex flex-row-reverse">
    <%= link_to skill_path(booking.skill), class: "notification-link" do %>
      <h6 class="btn btn-skill mx-1">View skill</h6>
    <% end %>
    <% if booking.status.downcase == "pending" %>
      <h6 class="btn btn-pending mx-1">Pending confirmation</h6>
    <% elsif booking.status.downcase == "accepted" %>
      <h6 class="btn btn-accepted mx-1">Accepted</h6>
    <% else %>
      <h6 class="btn btn-cancelled mx-1">Cancelled</h6>
    <% end %>
  </div>
</div>
</div>
