<div class="card-trip">
  <%= cl_image_tag booking.skill.photo %>
  <div class="card-trip-infos">
    <div>
      <p><%= booking.date %></p>
      <h2><%= booking.skill.title %></h2>
      <p>With <%= booking.skill.user.first_name %></p>
      <%= render 'components/star_rating', stars: booking.skill.average_stars %>
    </div>
    <%= cl_image_tag booking.skill.user.photo, class: "card-trip-user avatar-bordered"%>
    <%= link_to "Leave a review", new_booking_review_path(booking), class: "btn btn-gradient text-booking-review" %>
  </div>
</div>
