<%= link_to skill_path(skill), class: "card-link" do %>
<div class="card-trip">
  <%= cl_image_tag skill.photo %>
  <div class="card-trip-infos">
    <div>
      <p><%= skill.location.upcase %></p>
      <h2><%= skill.title %></h2>
      <p><%= skill.price %> USD</p>
      <%= render 'components/star_rating', stars: skill.average_stars %>
    </div>
    <%= cl_image_tag skill.user.photo, class: "card-trip-infos avatar-skill-card"%>
  </div>
</div>
<% end %>
