<%= link_to skill_path(skill), class: "card-link" do %>
<div class="card-trip">
  <%= cl_image_tag skill.photo %>
  <div class="card-trip-infos">
    <div>
      <p><%= skill.location.upcase %></p>
      <h2><%= skill.title %></h2>
      <p><%= skill.price %> USD</p>
      <%= render 'components/star_rating', skill: skill %>
    </div>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<% end %>
