
  <div class="card-trip">
    <%= link_to skill_path(booking.skill) do %>
      <%= cl_image_tag booking.skill.photo %>
    <%end%>
    <div class="card-trip-infos">
      <div>
        <p><%= booking.date.strftime('%b %d, %Y')  %></p>
        <h2><%= booking.skill.title %></h2>
        <p>With <%= booking.skill.user.first_name %></p>
        <%= render 'components/star_rating', stars: booking.skill.average_stars %>
      </div>
      <%= cl_image_tag booking.skill.user.photo, class: "card-trip-user avatar-bordered"%>
      <%= link_to "Leave a review", new_booking_review_path(booking), class: "btn btn-gradient text-booking-review" %>
    </div>
  </div>

