<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="d-flex">
      <%= link_to root_path  do %>
      <%= image_tag "airbnb.png", class: "avatar" %>
      <% end %>
    <%= render 'components/searchbar' %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <% if signed_in? && current_user.instructor? %>
          <%= link_to "Go to future lessons", class:"nav-link text-white" %>
        <% else %>
          <%= link_to "Become an instructor", root_path, class:"nav-link text-white" %>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">My bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">Help</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <% if signed_in? %>
          <a class="dropdown-item" href="#">Profile</a>
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="#">Log Out</a>
        <% else %>

        <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
