<div class="review my-4">
  <div class="row mx-0 my-3 d-flex">
    <img src=<%= review.booking.user.photo %> class="avatar-large mr-4">
    <div class="mt-1">
      <p><strong><%= review.booking.user.first_name %></strong></p>
      <p><%= review.created_at.strftime('%b %d, %Y') %></p>
      <p><%= render 'components/star_rating', stars: review.stars %></p>
    </div>
  </div>
  <div class="review-content">

    <p class="mb-1"><strong><%= review.title %></strong></p>
    <p><%= review.content %></p>
  </div>
</div>
