<div class="container-medium-small all-card-info">

  <div class="search-header-one text-center">
    <% if @skills.empty? %>
      <h3>No lessons match your search!</h3>
    <% elsif @skills.count == 1 %>
      <h3>1 lesson matches your search!</h3>
    <% else %>
      <h3> <%= @skills.count %> lessons match your search!</h3>
    <% end %>
  </div>

  <div class="search-header-two text-center">
    <% if @skills.empty? %>
        <h3 class="text-center">Please search again</h3>
        <%= link_to "Back to Search", skills_path %>
    <% end %>
  </div>

  <div>
    <% if !@skills.empty? %>
      <% @skills.each do |skill| %>
        <%= link_to skill_path(skill) do %>
          <div class="card-search-result">
            <%= cl_image_tag skill.photo %>
            <div class="card-search-result-infos">
              <p><%= skill.location.upcase %></p>
              <h2><%= skill.title %></h2>
              <h6>Instructor: <%= skill.user.first_name %></p>
              <h6>$<%= skill.price %> USD</p>
              <%= render 'components/star_rating', stars: skill.average_stars %>
            </div>
          </div>
      <% end %>
      <% end %>
      <% end %>
  </div>
</div>
