<%= render 'components/banner' %>
<div class="container-fluid container-medium mt-4">
  <div class="row d-flex">
    <div class="col-8">
      <div class="flat-show-card">
        <h1>Insert lesson or skill experience here</h1>
        <p class="flat-show-address">Lesson location</p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this lesson </h3>
        <p>The lovely, quiet and sunny apartment is tastefully decorated with many personal artistic touches, with plants and flowers and artistic paintings. "Every items has its history, life and perfect plan in it" (Elena). The apartment is a very haven of peace and you can fell at home!

        From the sunny balcony and windows, you can enjoy of a vantage point of view above the lively town of Palermo. Stay in Palazzo Cattolica Art Apartment is a very adventurous and palatial experience!</p>
        <div class="map" style="background-image: url('https://images.unsplash.com/photo-1524661135-423995f22d0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60')"></div>
      </div>
      <div class="flat-show-card">
        <div class="row d-flex">
          <div class="col-9 ">
            <h3>About your instructor</h3>
            <p>Sam is a lover of travel and knowledge of other cultures. After living in London, Seville and Sao Paulo in Brazil I decide to graduate from the professional Cooking School of Gambero Rosso.
            I consolidated my training in kitchens of restaurants and hotels of great prestige and finally I returned to Rome, in the district Pigneto. Here I propose a Mediterranean cuisine, with strong and decisive flavors. Special attention to the techniques and preparations that respect the quality and the peculiarity of the raw materials, without ever giving up the innovation way</p>
          </div>
          <div class="col-3 mx-auto mt-5">
            <img class="avatar-x-large mb-2" alt="avatar-x-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
            <p class="text-primary">Samuel L. Jackson</p>
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="row d-flex mx-0">
          <h2>320 Reviews</h2>
          <p class="mt-2 ml-3"><%= render 'components/star_rating' %></p>
        </div>
        <%= render 'components/review' %>
        <%= render 'components/review' %>
        <%= render 'components/review' %>
      </div>
    </div>
    <div class="col-4">
      <div class="flat-show-card p-4 sticky">
        <span><h2>US $ 101</h2></span>
        <p>per hour</p>
        <p class=""><%= render 'components/star_rating' %>
        <form action="">
          <div class="input-group">
            <p class="input-group-addon" id="basic-addon1">Date:</p>
            <input type="date" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <p class="input-group-addon" id="basic-addon1">Number of hours:</p>
            <input type="Number" class="form-control" placeholder="2" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-gradient mt-2" style="width: 100%">
        </form>
      </div>
    </div>
  </div>
</div>

