<div class="container-fluid container-medium mt-4 " >
  <div class="row d-flex" id="container-show-big">
    <div class="col-8 skill-information-wrapper">
      <%= render 'components/skills_show_banner' %>
      <div class="flat-show-card">
        <h3>A bit more about this lesson </h3>
        <p><%= @skill.description %></p>
      </div>
      <div class="flat-show-card">
        <div class="row d-flex">
          <div class="col-9 ">
            <h3>About your instructor</h3>
            <p><%= @skill.user.information %></p>
          </div>
          <div class="col-3 mx-auto mt-5" style="text-align:center">
            <img class="avatar-x-large mb-2" alt="avatar-x-large" src=<%=@skill.user.photo %> />
            <p class="text-primary"><%= @skill.user.first_name %> <%= @skill.user.last_name %></p>
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="row d-flex mx-0">
          <h2><%= @skill.reviews.count %> Reviews</h2>
          <p class="mt-2 ml-3"><%= render 'components/star_rating', stars: @skill.average_stars %></p>
        </div>
        <% @skill.reviews.each do |review| %>
        <%= render 'components/review', review: review %>
        <% end  %>
      </div>
    </div>
    <div class="col-4 sticky">
      <%= form_for [@skill, @booking], class: "sticky" do |f| %>
      <div class="form-group skill-form flat-card">
        <h2 class="my-0"><strong>USD <%= @skill.price %></strong></h2><span><p class="my-0">per hour</p></span>
        <p class="mt-0 mb-3"><%= render 'components/star_rating', stars: @skill.average_stars %></p>
        <label for="exampleInputEmail1">Date</label>
        <%= f.date_field :date, class: "form-control"  %>
        <div class="form-group">
          <label class="mt-4" for="exampleInputPassword1"><span class="form-span">Number of Hours</span></label>
          <%= f.select :num_of_hours, Booking::HOURS, class: "form-control" %>
        </div>
        <%= f.submit "Book", class: "btn btn-gradient mt-2", style: "width: 100%" %>
        <% end %>
      </div>
    </div>



  </div>
</div>
</div>
