<div class="margin">
  <div class="container new-skill-wrapper">
    <div id="skill-form">
      <h1 id="header" class="text-left">Add a review for <%= @booking.skill.user.first_name %></h1>
      <div>
        <%= simple_form_for [@booking, @review] do |f| %>
        <h4>How was your lesson? </h4>
        <%= f.input :stars, as: :hidden %>
        <ul class="list-inline">
        <% 5.times do |i| %>
          <li class="list-inline-item"><i class="fas fa-star review-star star-control" data-star-number="<%= i %>"></i></li>
        <% end %>
        </ul>
        <%= f.input :title, class: "form-control mt-5", placeholder: 'Describe your experience in a few words...' %>
        <%= f.input :content, placeholder: 'Tell future learners about what they can expect with this lesson', class:"form-control description" %>
        <%= f.button :submit, class: "btn btn-gradient" %>
        <% end %>
      </div>
    </div>

    <div id="skill-image" style="background-image: url(https://images.unsplash.com/photo-1533929702053-9986939ea193?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
    </div>
  </div>
</div>
